@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

.judulnya{
    font-size: 30px;
    font-weight: 600;
    color: #004AAD;
    text-align: center;
    margin-top: 3%;
}

.back{
    width: 2.5rem;
    height: 2rem;
    background-color: #004AAD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 0.4rem;
}

.back iconify-icon{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.back:hover{
    background-color: #104ea0;
    width: 2.6rem;
    height: 2rem;
    border-radius: 0.4rem;
    font-weight: 600;
    transform: scale(1.02) translateY(3px)
}

.box-profile{
    width: 23rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #F0F0F0;
    border-radius: 3%;
    margin-bottom: 8%;
}

.nama{
    margin-top: 8%;
    font-size: 1.5rem;
    font-weight: 500;
}

.box-profile img{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-top: 8%;
}

.isi-pass{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.isi-pass input{
    margin-bottom: 10%;
    border: none;
    border-bottom: 1px solid black;
    height: 2rem;
    width: 15.6rem;
    font-size: 0.8rem;
    background-color: #F0F0F0;
    padding-left: 0.3rem;
}

.isi-pass input:focus{
    outline: none;
}

.ubahpass{
    margin-top: 3%;
    background-color: #004AAD;
    color: white;
    border-radius: 0.3rem;
    height: 2.3rem;
    width: 8rem;
    border-color: transparent;
    font-size: 0.85rem;
    font-weight: 500;
}

iconify-icon{
    vertical-align: middle;
    font-size: 1.3rem;
}

.ubahpass:hover{
    background-color: #1c6fdc;
    color: white;
    border-radius: 0.3rem;
    height: 2.3rem;
    width: 8rem;
    border-color: transparent;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
}


@media (max-width: 480px){

    .judulnya{
        font-size: 27px;
        font-weight: 600;
        color: #004AAD;
        text-align: center;
        margin-top: 3%;
    }
    
.box-profile{
    width:18rem;
    height: 24rem;
}


.nama{
    margin-top: 8%;
    font-size: 1.3rem;
    font-weight: 500;
}

.box-profile img{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.isi-pass input{
    margin-bottom: 10%;
    border: none;
    border-bottom: 1px solid black;
    height: 2rem;
    width: 12rem;
    font-size: 0.7rem;
    background-color: #F0F0F0;
    padding-left: 0.3rem;
}

.isi-pass input:focus{
    outline: none;
}

.ubahpass{
    margin-top: 3%;
    background-color: #004AAD;
    color: white;
    border-radius: 0.3rem;
    height: 2.3rem;
    width: 6rem;
    border-color: transparent;
    font-size: 0.7rem;
    font-weight: 500;
}

iconify-icon{
    vertical-align: middle;
    font-size: 1.3rem;
}

.ubahpass:hover{
    background-color: #1c6fdc;
    border-radius: 0.3rem;
    height: 2.3rem;
    width: 6rem;
    font-size: 0.6rem;
}

}
