@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    Font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.button-atas{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.mobil, .motor{
    width: 7.5rem;
    height: 2.1rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-style: none;
    border-radius: 0.3rem;
    background-color: white;
}

.motor{
    background-color: #004AAD;
    color: white;
}

.mobil{
    border: 1px solid #004AAD;
}

.list-motor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    margin: auto 0;
    gap: 2rem;
    margin-top: 3%;
    padding: 0 13% 100px;
}

.produk-motor{
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;
}

.produk-motor img{
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: rgba(97, 97, 97, 0.6);
    position: absolute;
    border-radius: 0.5rem;
    left: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
    padding: 0 1.25rem;
    transition: background-color 0.3s ease;
    flex-direction: column;
}

.layer p{
    color:#ffffff;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
 }

.button-icon{
    display:flex;
    justify-content: end;
    align-items: center;
    margin-right: 12%;
    margin-top: 3%;
    gap: 0.5rem;
}

.button-icon button{
    width: 1.875rem;
    height: 2.1rem;
    border-style: none;
    border-radius: 3px;
}

.button-icon iconify-icon{
    font-size: 1.1rem;
    color: #000000;
}

 .produk-motor:hover img{
    transform: scale(1.03);
}

.produk-motor:hover .layer{
    height: 100%;
}

.edit:hover{
    background-color: rgb(27, 172, 27);
    transform: scale(1.03) translateY(2px);
}

.hapus:hover{
    background-color: rgb(227, 58, 58);
    transform: scale(1.03) translateY(2px);
}

.tambah-motor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tambah-motor button{
    width: 4rem;
    height: 4rem;
    border-style: none;
    border-radius: 5px;
    background-color: #cecece;
}

.plus-motor iconify-icon{
    font-size: 1.8rem;
    color: #000000;
}

.plus-motor:hover{
    background-color: #9c9c9c;
    transform: scale(1.03) translateY(1px);
}

