@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    Font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.dalamnya{
    margin-bottom: 8%;
}

.container1{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
    margin-top: 2rem;  
}

.container1 img {
    width: 35rem;
    height: 25rem;
}

.back{
    width: 2.5rem;
    height: 2rem;
    background-color: #004AAD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80%;
    margin-top: 1%;
    border-radius: 0.4rem;
}

.back iconify-icon{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.judul {
    text-align: center;
    width: 100%; 
    height: 100%; 
    color: #111827; 
    font-size: 30px; 
    font-family: Poppins; 
    font-weight: 600; 
    line-height: 20px; 
    word-wrap: break-word;
    margin-bottom: 2rem;
}


.container2 {
    display: flex;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 4%;
}

.box2 {
    width: 50%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 15rem;
    height: 2rem;
    border: 1px solid #bababa;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

h2 {
    color: #141414;
    font-size: 1.5rem;
    font-family: poppins;
    font-weight: 600;
    word-wrap: break-word

}

h3 {
    color: #141414;
    font-size: 0.8rem;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: 2rem;
}

table {
    width: 40rem;
    height: 60rem;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.rent {
    display: flex;
}

.date {
    margin-left: 3rem;
}


.button-kirim button{
    margin-top: 1%;
    margin-bottom: 3%;
    float: right;
    width: 5.3rem;
    height: 2rem;
    border-style: none;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    background-color: #004AAD;
    color: #ffff;
    margin-right: 10%;
}

.button-kirim button:hover{
    background-color: #3266aa;
}

.back:hover{
    background-color: #104ea0;
    width: 2.6rem;
    height: 2rem;
    border-radius: 0.4rem;
    font-weight: 600;
    transform: scale(1.02) translateY(3px)
}