@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    Font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.dalamnya{
    margin-bottom: 8%;
}

a {
    text-decoration: none;
}

.container1 {
    margin-top: 5%;
}

.container2 {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  

.judul {
    text-align: center;
    color: #111827; 
    font-size: 36px; 
    font-weight: 600; 
    line-height: 20px;}

.box{
    width: 21rem;
    height: 14rem;
    margin: 10px;
    border: 1px solid black;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(174, 174, 174);
    margin-top: 5%;
    background-image:  
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("<?= BASEURL;?>/img/surabaya.jpg");
    }



.textbox {
    position: relative;
    font-size: 2rem;
    font-weight: 400;
    color: whitesmoke;
    letter-spacing: 0.3px;
}

.box:hover{
    background: rgba(97, 97, 97, 0.6);
    transform: scale(1);
    width: 21rem;
    height: 14rem;
}

.box:hover .textbox{
    font-size: 2.3rem;
    font-weight: 500;
}