a {
    text-decoration: none;
}

.container1 {
    padding-top: 4vh;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  

.judul {
    text-align: center;
    width: 100%; 
    height: 100%; 
    color: #111827; 
    font-size: 36px; 
    font-family: Poppins; 
    font-weight: 600; 
    line-height: 20px; 
    word-wrap: break-word}

.box{
    width: 30%;
    height: 30vh;
    border: 1px solid black;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: aquamarine;
    margin-top: 5%;
    background-image:  
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../Asets/img/surabaya.jpg');
    }



.textbox {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    color: whitesmoke;
}