@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    Font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.dalamnya{
    margin-bottom: 20%;
}

.judul{
    font-size: 30px;
    font-weight: 600;
    color: #004AAD;
    text-align: center;
    margin-top: 3%;
}

.back{
    width: 2.5rem;
    height: 2rem;
    background-color: #004AAD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 0.4rem;
}

.back iconify-icon{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.box1 img {
    width: 25.9rem;
    height: 20.9rem;
    margin-left: 20vh;
    margin-top: 1%;
}


.box2 {
    width: 80vh;
    height: 70vh;
    margin-left: 10vh;
    margin-top: 1%;
}

.box2 div {
    display: flex;
    align-items: center;
    padding-bottom: 1.3rem;
}

.box2 button {
    width: 8.5rem;
    height: 2.5rem;
    margin-left: 20rem;
    border: #004AAD;
    color: white;
    background-color: #004AAD;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8rem;
}

h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1%;
    letter-spacing: 0.5px;
}

h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 3%;
    letter-spacing: 0.5px;
}


h4{
    padding-left: 1.3rem;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.2px;
}

h5 {
    color: gray;
    margin-bottom: 5%;
}

div iconify-icon{
    color: #004AAD;
    margin-left: 3%;
    width: 30;
    height: 30;
}

.maps {
    text-decoration: none;
    color: #004AAD;
    font-size: 1rem;
}

button iconify-icon{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3%;
}

.box2 button:hover{
    background-color: #3266aa;
}

@media (max-width: 768px){
    .judul{
        font-size: 30px;
        font-weight: 600;
        color: #004AAD;
        text-align: center;
        margin-top: 3%;
    }
    
    .back{
        width: 2rem;
        height: 1.5rem;
        background-color: #004AAD;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
        margin-left: 2rem;
    }
    
    .back iconify-icon{
        color: #FFFFFF;
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
       
        width: 100%;
    }
    
    .box1 img {
        width: 20rem;
        height: 15rem;
        margin-left: 2rem;
        margin-top: 1%;
    }
    
    
    .box2 {
        width: 25.9rem;
        height: 20.9rem;
        margin-left: 2rem;
        margin-top: 3rem;
    }
    
    .box2 div {
        display: flex;
        align-items: center;
        padding-bottom: 1.3rem;
    }
    
    .box2 button {
        width: 6rem;
        height: 2rem;
        margin-left: 70%;
        border: #004AAD;
        color: white;
        background-color: #004AAD;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.8rem;
    }
    
    h1{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1%;
        letter-spacing: 0.5px;
    }
    
    h2{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 3%;
        letter-spacing: 0.5px;
    }
    
    
    h4{
        padding-left: 1.3rem;
        font-size: 0.6rem;
        font-weight: 500;
        letter-spacing: 0.2px;
    }
    
    h5 {
        color: gray;
        margin-bottom: 5%;
    }
    
    div iconify-icon{
        color: #004AAD;
        margin-left: 3%;
        width: 25;
        height: 25;
    }
    
    button iconify-icon{
        color: #ffffff;
        font-size: 1rem;
        margin-left: 3%;
    }
    
    .box2 button:hover{
        background-color: #3266aa;
    }
}
@media (max-width: 480px){
    .judul{
        font-size: 20px;
        font-weight: 600;
        color: #004AAD;
        text-align: center;
        margin-top: 3%;
    }
    
    .back{
        width: 1.5rem;
        height: 1rem;
        background-color: #004AAD;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.1rem;
        margin-left: 2rem;
    }
    
    .back iconify-icon{
        color: #FFFFFF;
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
       
        width: 100%;
    }
    
    .box1 img {
        width: 10rem;
        height: 7.5rem;
        margin-left: 2rem;
        margin-top: 1%;
    }
    
    
    .box2 {
        width: 10rem;
        height: 7.5rem;
        margin-left: 2rem;
        margin-top: -2rem;
    }
    
    .box2 div {
        display: flex;
        align-items: center;
        padding-bottom: 0.5rem;
    }
    
    .box2 button {
        width: 4rem;
        height: 1rem;
        margin-left: 70%;
        border: #004AAD;
        color: white;
        background-color: #004AAD;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.4rem;
    }
    
    h1{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 1%;
        letter-spacing: 0.5px;
    }
    
    h2{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 1%;
        letter-spacing: 0.5px;
    }
    
    
    h4{
        padding-left: 0.5rem;
        font-size: 0.4rem;
        font-weight: 500;
        letter-spacing: 0.2px;
    }
    
    h5 {
        color: gray;
        margin-bottom: 5%;
        font-size: 0.6rem;
    }
    
    div iconify-icon{
        color: #004AAD;
        margin-left: 3%;
        width: 15;
        height: 15;
    }
    
    button iconify-icon{
        color: #ffffff;
        font-size: 1rem;
        margin-left: 3%;
    }
    
    .box2 button:hover{
        background-color: #3266aa;
    }
}