.container1 {
    display: flex ;
    justify-content: center;
    margin :0 auto;
    margin-top: 2%;
    }

button {
    width: 16vh;
    height: 8vh;
    margin-left: 10vh;
    border-color: #004AAD;
    border-radius: 13%;
    cursor: pointer;
}

.mobil.active{
    background-color: #004AAD;
    color: white;
}

.motor.active{
    background-color: #004AAD;
    color: white;
}

.motor {
    background-color: white;
    color: black;
}

.mobil {
    background-color: white;
    color: black;
}


.container2{
    display: grid;
    justify-items: center;
    margin-top: 10vh;
}
.car {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-items: center; 
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.65);
    cursor: pointer;
    margin-top: 2rem;
}

.car div {
    margin-left: 20%;
}

.car img {
    width: 15vh;
    height: 9vh;
    margin-left: 10%;
}

.sepedah {
    display: none;
    width: 90%;
    height: 10vh;
    align-items: center;
    justify-items: center; 
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.65);
    cursor: pointer;
}

.sepedah div {
    margin-left: 20%;
}

.sepedah img {
    width: 15vh;
    height: 9vh;
    margin-left: 10%;
}