/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
} */
.keretangan {
    background-color: #FF0000;
}
.box-profile {
    background-color: #F0F0F0;
    border-radius: 2%;
    margin: 2% 10% 0% 10% ;
    padding-bottom: 10%;    
}

.box-profile img {
    border-radius: 50%;
    width: 15.6rem;
    height: 15.6rem;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 1%;
}

.box-profile h1{
    display: flex;
    justify-content: right;
    margin-right: 10%;
    font-size: 1.6rem;
    padding-top: 1.25rem;
    font-weight: 550;
    color: rgb(0, 0, 0);
    
}
.box-profile h2{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.telepon{
    display:flex;
    justify-content: left;
    margin-top: -15%;
    margin-left: 40%
    
}

.telepon iconify-icon{
    font-size: 3.125rem;
}
.telepon h4{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.5%;
    margin-left: 1%;
}

.lokasi{
    display:flex;
    justify-content: right;
    margin-right: 15%;
    margin-top: -5%;
}
.lokasi iconify-icon{
    font-size: 3.125rem;
}
.lokasi h4{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.5%;
    margin-left: 1%;
}

.email{
    display:flex;
    justify-content: left;
    margin-top: 5%;
    margin-left: 40%;
}
.email iconify-icon{
    font-size: 3.125rem;
}
.email h4{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 1%;
}

.edit{
    display: flex;
    justify-content: right;
    padding-right: 10%;
    margin-top: 10%;
}
.hapus-akun{
    justify-content: center;
    border: solid black 1px;
    padding: 0.5%;
    border-radius: 3%;
    margin-right: 5%;
    background-color: #FF0000;
}

.hapus-akun h3 a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.edit-profile{
    display: flex;
    border: 1px solid black;
    background-color: #004AAD;
    padding: 0.5%;
    border-radius: 3%;
}

.edit-profile h3 a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.edit-profile a iconify-icon{
    font-size: 1.25rem;
    margin-top: 0.3rem;
    margin-left: 0.8rem;
}
.logout{
    display: flex;
    justify-content: right;
    font-size: 3.125rem;
    padding-right: 5%;
    margin-top: -3%;
 
}


