@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
/* .keterangan {
    background-color: #FF0000;
} */
.box-profile {
    background-color: #F0F0F0;
    border-radius: 2%;
    width: 80%;
    /* margin: 2% 10% 0% 10% ; */
    padding-bottom: 7%;    
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 8%;
}

.box-profile img {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 2%;
}

.box-profile h1{
    display: flex;
    justify-content: right;
    margin-right: 10%;
    font-size: 1.5rem;
    font-weight: 550;
    color: rgb(0, 0, 0);
    
}
.box-profile h2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2.25rem;
}
.telepon{
    display:flex;
    justify-content: left;
    margin-top: -18%;
    margin-left: 35%
    
}

.telepon iconify-icon{
    font-size: 2.5rem;
}
.telepon h4{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5%;
    margin-left: 1%;
}

.lokasi-profil{
    display:flex;
    justify-content: right;
    margin-right: 15%;
    margin-top: -4%;
}

.lokasi-profil iconify-icon{
    font-size: 2.5rem;
}
.lokasi-profil h4{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5%;
    margin-left: 1%;
}

.email{
    display:flex;
    justify-content: left;
    margin-top: 3%;
    margin-left: 35%;
}
.email iconify-icon{
    font-size: 2.5rem;
}
.email h4{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 2%;
}

.edit{
    display: flex;
    justify-content: right;
    padding-right: 12%;
    /* gap: -0.5rem; */
    margin-top: 10%;
}
.hapus-akun{
    width: 5.8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 0.5%;
    border-style: none;
    border-radius: 5px;
    margin-right: 5%;
    background-color: #FF0000;
}

.hapus-akun h3 a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}

.edit-profile{
    display: flex;
    width: 5.8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-style: none;
    background-color: #004AAD;
    padding: 0.5%;
    border-radius: 5px;
}

.edit-profile h3 a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}

.edit-profile a iconify-icon{
    font-size: 1.25rem;
}
.logout{
    display: flex;
    justify-content: right;
    font-size: 2.5rem;
    padding-right: 5%;
    margin-top: -4%;
}

.hapus-akun:hover{
    transform: scaleY(1.07);
    background-color: #d35a5a;
}

.edit-profile:hover{
    transform: scaleY(1.07);
    background-color: #336bb5;
}

.logout iconify-icon:hover{
    transform: scaleY(1.07);
    font-size: 2.6rem;
    color: #3965a0;
}


@media (max-width: 1150px){
    .box-profile h1{
        display: flex;
        justify-content: right;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 1%;
    }

    .box-profile h2{
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 600;
        padding-top: 2.25rem;
    }

    .konten-profil{
        display: flex;
        justify-content: left;
    }

    
    .konten-profil img {
        margin: 0 auto;
        margin-top: 5%;
        margin-left: 15%;
        width: 13rem;
        height: 13rem;
    }

    .konten-profil2{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 5%;
        margin-right: 21%;
        padding-bottom: 5%;
    }

        
    .telepon{
        margin: 0 auto;
        margin-top: 13%;
        margin-bottom: 5%;
    }

    .telepon iconify-icon{
        font-size: 2rem;
    }
    .telepon h4{
        font-size: 1rem;
        font-weight: 500;
    }

    .lokasi-profil{
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .lokasi-profil iconify-icon{
        font-size: 2rem;
    }
    .lokasi-profil h4{
        font-size: 1rem;
        font-weight: 400;
    }

    .email{
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .email iconify-icon{
        font-size: 2rem;
    }
    .email h4{
        font-size: 1rem;
        font-weight: 400;
    }

    .edit{
        display: flex;
        justify-content: right;
        padding-right: 15%;
        margin-top: 2%;
    }

    .hapus-akun{
        width: 5rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hapus-akun h3 a{
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        letter-spacing: 0.2px;
    }


    .edit-profile{
        display: flex;
        width: 5.5rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
    }

    .edit-profile h3 a{
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
    }

    .edit-profile a iconify-icon{
        font-size: 1.2rem;
    }


    .logout{
        margin-top: 3%;
        display: flex;
        justify-content: right;
        font-size: 2rem;
        margin-top: -4%;
    }


    .hapus-akun:hover{
        transform: scaleY(1.04);
        background-color: #d35a5a;
    }

    .edit-profile:hover{
        transform: scaleY(1.04);
        background-color: #336bb5;
    }

    .logout iconify-icon:hover{
        transform: scaleY(1.07);
        font-size: 2.1rem;
        color: #3965a0;
    }


}



@media (max-width: 800px){
    .box-profile h1{
        display: flex;
        justify-content: right;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 1%;
    }

    .box-profile h2{
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 600;
        padding-top: 1.25rem;
    }

    .konten-profil{
        display: flex;
        justify-content: left;
    }

    
    .konten-profil img {
        margin: 0 auto;
        margin-top: 5%;
        margin-left: 15%;
        width: 10rem;
        height: 10rem;
    }

    .konten-profil2{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 5%;
        margin-right: 20%;
        padding-bottom: 5%;
    }

        
    .telepon{
        margin: 0 auto;
        margin-top: 13%;
    }

    .telepon iconify-icon{
        font-size: 1.8rem;
    }
    .telepon h4{
        font-size: 1rem;
        font-weight: 500;
    }

    .lokasi-profil{
        margin: 0 auto;
        margin-top: 3%;
    }

    .lokasi-profil iconify-icon{
        font-size: 1.8rem;
    }
    .lokasi-profil h4{
        font-size: 0.9rem;
        font-weight: 400;
    }

    .email{
        margin: 0 auto;
        margin-top: 3%;
    }

    .email iconify-icon{
        font-size: 1.8rem;
    }
    .email h4{
        font-size: 0.9rem;
        font-weight: 400;
    }

    .edit{
        display: flex;
        justify-content: center;
        padding-right: 5%;
        margin-top: 6%;
    }

    .hapus-akun{
        width: 5rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hapus-akun h3 a{
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        letter-spacing: 0.2px;
    }


    .edit-profile{
        display: flex;
        width: 5.5rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
    }

    .edit-profile h3 a{
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
    }

    .edit-profile a iconify-icon{
        font-size: 1.2rem;
    }


    .logout{
        margin-top: 3%;
        display: flex;
        justify-content: right;
        font-size: 2rem;
        margin-right: 5%;
    }


    .hapus-akun:hover{
        transform: scaleY(1.04);
        background-color: #d35a5a;
    }

    .edit-profile:hover{
        transform: scaleY(1.04);
        background-color: #336bb5;
    }

    .logout iconify-icon:hover{
        transform: scaleY(1.07);
        font-size: 2.1rem;
        color: #3965a0;
    }


}


@media (max-width: 580px){
    .box-profile h1{
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1%;
    }

    .box-profile h2{
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 600;
        padding-top: 1.25rem;
    }

    .konten-profil{
        display: flex;
        flex-direction: column;
    }

    
    .konten-profil img {
        margin: 0 auto;
        margin-top: 5%;
        width: 8rem;
        height: 8rem;
    }

    .konten-profil2{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 5%;
        padding-bottom: 5%;
    }

        
    .telepon{
        margin: 0 auto;
        margin-top: 10%;
    }

    .telepon iconify-icon{
        font-size: 1.8rem;
    }
    .telepon h4{
        font-size: 1rem;
        font-weight: 500;
        margin-left: 5%;
    }

    .lokasi-profil{
        margin: 0 auto;
        margin-top: 3%;
    }

    .lokasi-profil iconify-icon{
        font-size: 1.8rem;
    }
    .lokasi-profil h4{
        font-size: 0.9rem;
        font-weight: 400;
        margin-left: 5%;
    }

    .email{
        margin: 0 auto;
        margin-top: 3%;
    }

    .email iconify-icon{
        font-size: 1.8rem;
    }
    .email h4{
        font-size: 0.9rem;
        font-weight: 400;
        margin-left: 5%;
    }
        
    .edit{
        display: flex;
        justify-content: center;
        padding-right: 5%;
        margin-top: 6%;
    }
    .hapus-akun{
        width: 4.5rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hapus-akun h3 a{
        text-align: center;
        text-decoration: none;
        font-size: 0.6rem;
        letter-spacing: 0.2px;
    }

    .edit-profile{
        display: flex;
        width: 4.5rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
    }

    .edit-profile h3 a{
        text-align: center;
        text-decoration: none;
        font-size: 0.6rem;
    }

    .edit-profile a iconify-icon{
        font-size: 1rem;
    }


    .logout{
        margin-top: 3%;
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }


    .hapus-akun:hover{
        transform: scaleY(1.04);
        background-color: #d35a5a;
    }

    .edit-profile:hover{
        transform: scaleY(1.04);
        background-color: #336bb5;
    }

    .logout iconify-icon:hover{
        transform: scaleY(1.07);
        font-size: 2.1rem;
        color: #3965a0;
    }


}
