@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.login img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: -8%;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 8%;
    background-color: white;
    border-radius: 3%;
    box-shadow: 14px 15px 72px -12px rgba(0,0,0,0.48);
    -webkit-box-shadow: 14px 15px 72px -12px rgba(0,0,0,0.48);
    -moz-box-shadow: 14px 15px 72px -12px rgba(0,0,0,0.48);
}

.box form h1{
    text-align: center;
}

.box form{
    justify-content: center;
    margin-top: 35%;
}

.username-login{
    display: flex ;
    margin-top: 1.8rem;
}
.password-login{
    display: flex ;
}

.username-login input{
    border: none;
    border-bottom: 1px solid black;
    height: 3.135rem;
    width: 15.6rem;
    font-size: 0.9rem;
}
.username-login input:focus{
    outline: none;
}
.username-login iconify-icon{
    font-size: 2.25rem;
    margin-top: 5%;
    margin-right: 5px;
    opacity: 50%;
}
.password-login input{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 1.8rem;
    height: 3.125rem;
    width: 15.6rem;
    font-size: 0.9rem;
}
.password-login input:focus{
    outline: none;
}
.password-login iconify-icon{
    font-size: 2.25rem;
    margin-top: 15%;
    margin-right: 5px;
    opacity: 50%;
}

.button-login{
    margin-top: 20%;
    background-color: #004AAD;
    color: white;
    border-radius: 0.8rem;
    height: 3.4rem;
    width: 17.9rem;
    border-color: transparent;
    font-size: 1.5rem;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;

}
.button-login:hover{
    background-color: #002861;
    transform: translateY(-5px);
}